@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 80px; /* Ajuste cette valeur si besoin */
  }
  
  nav {
    height: var(--navbar-height);
  }
  
  main {
    padding-top: var(--navbar-height);
  }
  