@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 80px; 
    --text-sm: 12px;
    --margesDashboard: p-8 ml-20 md:ml-34;
}
  
body {
  font-size: var(--text-sm);
}
nav {
  height: var(--navbar-height);
}

main {
  padding-top: var(--navbar-height);
}